::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #f8ead7);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #ddcaaf);
  border-radius: 6px;
}
.heading {
  margin: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2.1em;
  font-weight: bold;
  font-feature-settings: "aalt";
}
.container {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .card {
  width: 30vh;
  height: 40vh;
  padding: 60px 30px;
  margin: 20px;
  background: #fff6eb;
  box-shadow: 0.6em 0.6em 1.2em #e6dbcc, -0.5em -0.5em 1em #fffbf4;
  border-radius: 20px;
}
.container .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .card .content .imgBx {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .content .contentBx h4 {
  color: #36187d;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.container .card .content .contentBx h5 {
  color: #6c758f;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.container .card .content .sci {
  margin-top: 20px;
}
.container .card .content .sci a {
  text-decoration: none;
  color: #6c758f;
  font-size: 30px;
  margin: 10px;
  transition: color 0.4s;
}
.container .card .content .sci a:hover {
  color: #0196e3;
}

/*   colors
         #f2f3f7
        #d2dce9
        #36187d
        #6c758f
        #0196e3
 */
