::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #f8ead7);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #ddcaaf);
  border-radius: 6px;
}
.container {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .card {
  width: 30vh;
  height: 30vh;
  padding: 5px 2px;
  border-radius: 5px;
}
.container .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .card .content .imgBx {
  width: 100%;
  height: 29.5vh;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  filter: grayscale(100%);
}
.container .card .content .imgBx:hover {
  transition: 0.5s;
  filter: grayscale(0%);
  width: 104%;
}
.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .content .contentBx h4 {
  margin-top: -25vh;
  color: #36187d;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 8vh;
}
.container .card .content .contentBx h5 {
  color: #6c758f;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
