.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: auto;
  margin: auto;
}
.btn {
  background-color: #fecb00;
  height: 3rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0.5em 1em -0.4em #fecb00ad;
  transform: translateY(-0.25em);
}