.App {
  text-align: center;
  display: flex;
}

li {
  margin: 15px auto;
}

.nav-link {
  @apply p-2 items-center w-10/12 self-center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.nav {
  background: #E19C4B;
  width: 35%;
}