@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraCode-Regular";
  src: local("FiraCode-Regular.woff"),
    url("./core/fonts/FiraCode-Regular.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "FiraCode-Regular";
}
.root {
  background: #fff6eb;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #f8ead7);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #ddcaaf);
  border-radius: 6px;
}
