.heading-container {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  text-align: left;
}

.heading {
  display: flex;
  flex-direction: column;
  font-size: 2.5em;
  line-break: auto;
  margin: auto;
}

.version {
  font-size: 7em;
  padding-left: 0.1em;
  color: rgb(253, 203, 1);
}

.sub-heading{
  font-size: 21px;
}

@media only screen and (max-width: 768px) {
  .heading-container {
    font-size: 15px;
  }
  .sub-heading{
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .heading-container {
    font-size: 10px;
  }
}