.navbar {
    top:0;
    right: 0;
    margin: 0px;
    position: fixed;

}

.navbar ul {
    list-style: none;
  }
  .navbar ul li {
    display: inline-block;
  }
  .navbar ul li a {
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.712);
    font-weight: 500;
    text-transform: uppercase;
    margin: 0em 1.5em;
    font-size: 17px;
  }
  .navbar ul li a,
  .navbar ul li a:after,
  .navbar ul li a:before {
    transition: all .2s;
  }
  .navbar ul li a:hover {
    color: rgb(26, 26, 26);
    font-weight: 600;
  }

  /* stroke */
  .navbar.stroke ul li a,
  .navbar.fill ul li a {
    position: relative;
  }
  .navbar.stroke ul li a:after,
  .navbar.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -5px 0px;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(253, 203, 1);
    height: 5px;
  }
  .navbar.stroke ul li a:hover:after {
    width: 100%;
  }
  
  .navbar.fill ul li a {
    transition: all 2s;
  }
  
  .navbar.fill ul li a:after {
    text-align: left;
    margin: 0;
    opacity: 0;
  }
  .navbar.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  .navbar.fill ul li a:hover:after {
    z-index: 9999;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }

  @media only screen and (max-width: 768px) {
    .navbar ul li a {
      margin: 0em 1.1em;
      font-size: 15px;
    }
  }

  @media only screen and (max-width: 425px) {
    .navbar ul li a {
      margin: 0em 1em;
      font-size: 12px;
    }
  }