.home {
  background: rgba(196, 196, 196, 0.24);
  width: 100%;
  position: fixed;
}

.btn {
  background: rgba(0, 0, 0, 0.315);
  box-sizing: border-box;
  border-radius: 20px;
}

p {
  white-space: pre-line;
}

.circleAnim {
  position: absolute;
  left: -100vh;
  bottom: -100vh;
  width: 100vh;
  height: 100vh;
  background: rgba(196, 196, 196, 0.24);
  border-radius: 50%;
  transition: 4s;
  transition-delay: 0.5s;
}

.circle {
  position: absolute;
  left: -20vh;
  bottom: -30vh;
  width: 100vh;
  height: 100vh;
  background: #fff6eb;
  border-radius: 50%;
  transition: 4s;
}
